 .articles-section .container h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 45px;
        padding-top: 40px;
        margin-left: 20px;
    
}


.articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tre kolumner med lika bredd */
        grid-gap: 20px; /* Avstånd mellan grid-element */
      }
      
      .article-item {
       
        padding: 10px; /* Inre utfyllnad */
        
      }
      
      .image {
        max-width: 100%; 
        
      }
      
      .category {
        font-weight: bold; /* Fetstil kategori */
      }
      
      .title {
        margin-top: 10px; /* Avstånd över titeln */
      }
      
      .content {
        margin-top: 10px; /* Avstånd över innehållet */
        font-family: "Inter", sans-serif;
        font-size: 16px;
      }
      .text-mitten h5{
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
       font-weight: 700;
       
      }

      .article-item img {
        max-width: 100%;
        height: 420px;
        width: 820px;
        margin-bottom: 20px;
        margin-top: 20px;
        
      }    

.article-details{
  margin-left: 15%;
  border: none;
}
.article-details .title h1{
  font-family: "DM Sans", sans-serif;
        font-size: 45px;
       font-weight: 700;
       margin-top: 20px;
}

.details .article-news{
  background-color: #F0EFE9;
  padding-bottom: 20px;
}